.THIS .continuar{
    float:right;
}
.THIS .continuar button{
    font-family: AudiTypeV01-ExtendedBold;
    margin-top:50px;   
    margin-bottom:50px;
    font-weight:bold;
    font-size:1.5em;
    padding:8px 10px 8px 10px;
}
.THIS .divider{
    width: 100%;
    margin: 15px auto 0px auto;
    background-color: #bdc3c7;
    height: 1px;
}

.THIS .myCheckbox{
  display: inline-block;
  float: left;
}

.THIS .btn-wrapper{
    float: right;
    margin-top: 15px;
}

.THIS .slds-modal__content p{
    font-weight:bold !important;
}